body {
  background-color: #323232;
  margin-left: 265px;
}
.custom-hamburger .navbar-toggler-icon {
  background-color: #fb576b !important;
}
.logo {
  color: white;
}
.link-navbar {
  color: #fb576b;
}
@media (max-width: 767px) {
  body {
    margin-left: 0; /* Margine zero per dispositivi mobile */
  }
}
